<% if(alerts){  %>
    <% if(alerts[0]){  %>

    <h2 style="display:none;" id="alerts"><%=alerts[0]%></h2>
    <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var x = $("#alerts").html(); 
            alert(x);
    });
    </script>
    <% } %>
<% } %>