<h2 style="display:none;" id="alerts"><%=alerts %></h2>
<% if(alerts.length!=0){ %>
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) { 
        var x = $("#alerts").html(); 
            alert(x);
    });
    </script>
<% } %>