<style>
    html {
    position: relative;
    min-height: 100%;
    }
    body {
    /* Margin bottom by footer height */
    margin-bottom: 184px;
    }
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 184px;
    background-color: #F8F9FA;
    }
</style>
<footer class="footer">
    <nav class="navbar navbar-light">
        <p class="navbar-brand">
                <div class="col-sm-12 text-center navbar-text">
                    <p class="mb-1">&copy; IIT Tirupati</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </div>

        </p>
    </nav>
</footer>