<style>
    html {
    position: relative;
    min-height: 100%;
    }
    body {
    /* Margin bottom by footer height */
    margin-bottom: 184px;
    }
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 184px;
    background-color: #f5f5f5;
    }
</style>
<footer class="footer">
    <nav class="navbar navbar-light">
        <p class="navbar-brand">
        <b>© IIT-Tirupati</b>
        </p>
    </nav>
</footer>