<style>
    input[type="file"] {
    display: block;
    }
    .imageThumb {
    height: 100px;
    width: 100px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    }
    .pip {
    display: inline-block;
    margin: 10px;
    }
    .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
    }
    .remove:hover {
    background: white;
    color: black;
    }
    #partial_snapholder{
          height:auto;
          min-height:50px;
          height:auto !important;  /* for IE as it does not support min-height */
      }
</style>
<% if(!imageh_name) imageh_name="snapshot_url[]" %>

<input type="file" id="partial_snapshot_url" name="<%= imageh_name %>" onchange="imageCompressor(event,true,true);" accept='image/*' multiple >
<div id="partial_snapholder">

</div>

<script>
    function createListItem(e, filet) {
          $("#partial_snapholder").append(
              "<span class=\"pip\">" +
              "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + filet.name + "\"/>" +
              "<br/><span class=\"remove\">Remove </span>" +
              "</span>"
              );
          $(".remove").off("click");
          $(".remove").click(function(event){event.preventDefault();
              let title=($(this).parent(".pip").children("img")[0]);
              title=(title.getAttribute("title"));
              $(this).parent(".pip").remove();
              const dt = new DataTransfer()
              let files=$("#partial_snapshot_url").prop('files');
              for (let file of files){
                  if (file.name !== title) 
                  dt.items.add(file)
                  document.getElementById("partial_snapshot_url").files=dt.files;
              }
          });
      }
      $(document).ready(function() {
      $("#partial_snapshot_url").on("change", function(e) {
      $(".pip").remove();
      // $('#ignore').val("");
      var files = e.target.files,
          filesLength = files.length;
      for (var i = 0; i < filesLength; i++) {
          var f = files[i]
          var fileReader = new FileReader();
          let id=i;
          fileReader.onloadend=(function(file){
              return function(evt){
                  createListItem(evt, file)
              }
          })(f);
          fileReader.readAsDataURL(f);  
      }
      });
       });
 </script>