<div class="header clearfix">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><b>BLOGS</b></a>
      <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link  <%= page_name == 'blogs' ? 'active' : '' %>" href="#">View Blogs</a>
            </li>
        </ul>
      </div>
      <form method="GET" action="/editor/logout" >
          <button type="submit" class='btn btn-outline-danger btn-sm ml-auto'>LOGOUT</button> 
      </form>
  </nav>
</div>