<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/add_event/<%=club_head_id%>/add_event/<%=club_name%>/add" method="POST" enctype="multipart/form-data">
            <label for="event_name">Event name:</label><br>
            <input type="text" name="event_name" id="event_name"><br>

            <label for="event_date">Date:</label><br>
            <input type="date" name="event_date" id="event_date"><br>

            <label for="event_venue">Venue:</label><br>
            <input type="text" name="event_venue" id="event_venue"><br>

            <label for="poster">Poster:</label><br>
            <input type="file" name="poster" id="poster"><br>

            <label for="categories">Categories:</label><br>
            <input type="text" name="categories" id="categories"><br>

            <label for="description">Description:</label><br>
            <input type="text" name="description" id="description"><br>

            <label for="speaker">Speaker:</label><br>
            <input type="text" name="speaker" id="speaker"><br>
            
            <input type="submit" value="submit">
    </form>
</body>
</html>