<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<style>
    body {
background: #222D32;
font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ECF0F5;
}
label{
    margin-top: 5px;
    float: left;
    color: lightgray;
    font-size: small;
}


.form-group {
    margin-bottom: 20px;
    outline: 0px;
}


.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}
.btn.btn-success[type=submit]{
    margin: 20px;
}
</style>
<body>    
  <%-include('partials/alert_system.ejs')%>    
  <form method="GET" style="position: fixed; left: 0; top:0; padding: 10px;" action="/" >
    <button type="submit" class='btn btn-outline-danger btn-sm'>RETURN</button> 
    </form>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12">
                    <img src="/images/logo.png" alt="logo" class="rounded" style=" margin-top:20px; max-height: 100px;">
                </div>
                <div class="col-lg-12 login-title">
                    Blog Editor Login
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="POST" action="/editor/login" >
                            <div class="form-group">
                                <label for="username">User Name</label>
                                <input type="text" class="form-control" id="username" name="user_id" onkeypress="return noSpace(event)" required>
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="pswd" onkeypress="return noSpace(event)" required>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
    </div>
    <script>
    //client side rejection of whitespace
    function noSpace(event) {
        var key = event ? event.which : window.event.keyCode;
        if (key == 32) return false;
    }
    </script>
</body>
</html>