<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tech Team</title>
</head>
<body>
    <%-include('./partials/navbar_admin')%>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Add New Club</h3>
    
</body>
</html>