<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include('partials/dependencies.ejs')%>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@latest/dist/browser-image-compression.js"></script>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_clubhead.ejs')%> <br><br>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div>
                <h2>Create Event</h2>
                <hr class="my-4">
            </div>
        <form action="/events/create/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="event_name">Event name:</label>
                <input class="form-control" type="text" name="event_name" id="event_name" required><br>
            </div>
            <div class="form-group">
                <label for="event_date">Date and Time:</label>
                <input type="datetime-local" name="event_date" id="event_date" required>
            </div>
            <div class="form-group">
                <label for="event_venue">Venue:</label>
                <input class="form-control" type="text" name="event_venue" id="event_venue">
            </div>
            <div class="form-group">
                <label for="poster">Poster:</label>
                <input type="file" accept='image/*' name="poster" id="poster" onchange="imageCompressor(event);">
            </div>
            <div class="form-group">
                <!-- <input class="form-control" type="text" name="categories" id="categories"required> -->
                <label for="categories">Category :</label>
                <select name="categories" id="categories" required>
                <option value="none" selected disabled hidden> 
                Select Category 
                </option> 
                <option value="Workshop">Workshop</option>
                <option value="Competition">Competition</option>
                <option value="Talk-show">Talk-show</option>
                <option value="Activity">Activity</option> 
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
            <textarea class="form-control" type="text" name="description" id="description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="SUBMIT"/>
            </div>  
        </form>
        </div>
        </div>
    </div>
    <script>
        async function imageCompressor(event) {
            $(':input[type="submit"]').prop('disabled', true);
            const imageFile = event.target.files[0];
            const options = {
            maxSizeMB: 1,
            maxWidthOrHeight: 1920,
            useWebWorker: true
            }
            try {
                const compressedFile = await imageCompression(imageFile, options);
                console.log(`compressedFile size ${compressedFile.size / 1024 / 1024} MB`);
                let file=new File([compressedFile],compressedFile.name);
                const dt = new DataTransfer()
                dt.items.add(file)
                document.getElementById(event.target.id).files=dt.files;
                $(':input[type="submit"]').prop('disabled', false);
            } catch (error) {
                console.log(error);
            }
        }
        $(function(){
            var today = new Date();
            var month = today.getMonth() + 1;
            var day = today.getDate();
            var year = today.getFullYear();
            var hour = today.getHours();
            var minutes = today.getMinutes();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + day.toString();
            var maxDateandTime = year + '-' + month + '-' + day + 'T' + hour + ':' + minutes;
            $('#event_date').attr('value', maxDateandTime);
            $('#event_date').attr('min', maxDateandTime);
        });
    </script>
    <script>
          CKEDITOR.replace('description');
    </script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>