<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Club</title>
      <%-include('partials/dependencies.ejs')%>    
</head>
  <body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Create Club Head</h3>

    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
          <!-- multipart/form-data -->
        <form enctype="application/x-www-form-urlencoded" method="POST" action="/club_head/create">
          <div class="form-group">
            <label>User_id</label>
            <input type="text" class="form-control" name="user_id" placeholder="User_id">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="pswd" placeholder="Password">
          </div>

          <div class="form-group">
            <label>email id</label>
            <input type="email" class="form-control" name="email_id" placeholder="email id of the club head">
          </div>

          <div class="form-group">
            <label>Club Name</label>
            <input type="text" class="form-control" name="club_name" placeholder="Enter name of club">
          </div>

          <input type="submit" class="btn btn-primary" value="Create" >

        </form>
        </div>
    </div>
  <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>