<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <form method="POST" style="position: fixed; left: 0; top:0; padding: 10px;" action="/club_head/profile" >
                 <button type="submit" class='btn btn-outline-info btn-sm'>HOME</button> 
            </form>
        </div>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div>
                <h2>Create Event</h2>
                <hr class="my-4">
            </div>
        <form action="/events/create/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="event_name">Event name:</label>
                <input class="form-control" type="text" name="event_name" id="event_name" required><br>
            </div>
            <div class="form-group">
                <label for="event_date">Date:</label>
                <input type="date" name="event_date" id="event_date" required>
            </div>
            <div class="form-group">
                <label for="event_venue">Venue:</label>
                <input class="form-control" type="text" name="event_venue" id="event_venue">
            </div>
            <div class="form-group">
                <label for="poster">Poster:</label>
                <input type="file" accept='image/*' name="poster" id="poster">
            </div>
            <div class="form-group">
                <!-- <input class="form-control" type="text" name="categories" id="categories"required> -->
                <label for="categories">Category :</label>
                <select name="categories" id="categories" required>
                <option value="none" selected disabled hidden> 
                Select Category 
                </option> 
                <option value="Workshop">Workshop</option>
                <option value="Competition">Competition</option>
                <option value="Talk-show">Talk-show</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
            <textarea class="form-control" type="text" name="description" id="description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="SUBMIT"/>
            </div>  
        </form>
        </div>
        </div>
    </div>
</body>
</html>