<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events</title>
    <style>
    h5{
        display:inline;
    }
    dl {
    padding: 20px;
    }
    dl dd {
    margin: 5px;
    }
    </style>
</head>
<body>
    <h2 style="color: blue; text-decoration: underline;"> List of All Events </h2>
    <dl><!-- Template for each event-->
        <dt><h4>Event name:</h4></dt>
        <dd><img src="#1" alt="thumbnail of poster"></dd>
        <dd><h4>Date:</h4></dd>
        <dd><h4>Venue:</h4></dd>
        <dd><a href="#2"><h5>edit</h5></a><h5>  |  </h5><a href="#3"><h5>delete</h5></a><h5>  |  </h5><a href="#4"><h5>details</h5></a></dd>
    </dl>
</body>
</html>