<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        ul {
        padding: 20px;
        }
        ul li {
        margin: 15px;
        }
    </style>
</head>
<body>
    <h2 style="text-decoration: underline;">User Profile</h2>
    <img src="dp_url" alt="DP here" style="align-content: center;">
    <ul>
        <li>name:</li>
        <li>bio:</li>
        <li>club_name:</li>
        <li>user_id:</li>
        <li>pswd:</li><!--password-->
        <li>contact:</li>
        <li>email_id:</li>
    </ul> 
    <button onclick="">Update Profile</button>
    <button onclick="">View/Create Events</button>
    <button onclick="">Send notifications to Club</button>
</body>
</html>