<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <style>
        #changer{
            width: 30vw;
            margin-top: 10vh;
        }
    </style>
</head>
<body>    
    <h2 style="display:none;" id="alerts"><%=alerts %></h2>
    <% if(alerts.length!=0){ %>
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) { 
            var x = $("#alerts").html(); 
                alert(x);
        });
        </script>
    <% } %>
    <%- include('partials/navbar_admin') %>
    <div class="container">
        <h1 class="display-3">Change your password for confidentiality</h1>
    <form action="/admin/password/change" method="POST">
        <div class="form-group" id="changer">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" id="pswd" name="pswd" placehokder="Password" onkeypress="return noSpace(event)" required></input>
          <small id="pswdHelp" class="form-text text-muted">Never share your password with anyone else.</small>
            <input type="password" class="form-control" id="psw2" name="psw2"placehokder="Confirm Password" onkeypress="return noSpace(event)" required></input>
            <small class="form-text text-muted">Please Re-enter your new password.</small>
          </div>
        <button type="submit" class="btn btn-danger">Change Password!</button>
    </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
    <script>
        function noSpace(event) {
            var key = event ? event.which : window.event.keyCode;
            if (key == 32) return false;
        }
        var password = document.getElementById("pswd"), confirm_password = document.getElementById("psw2");
    
        function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            console.log()
        } else {
            confirm_password.setCustomValidity('');
        }
        }
    
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>