<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #changer{
            width: 30vw;
            margin-top: 10vh;
        }
    </style>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
        <h1 class="display-3">Change your password for confidentiality</h1>
    <form action="/admin/password/change" method="POST">
        <div class="form-group" id="changer">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" id="pswd" name="pswd" placehokder="Password" onkeypress="return noSpace(event)" required></input>
          <small id="pswdHelp" class="form-text text-muted">Never share your password with anyone else.</small>
            <input type="password" class="form-control" id="psw2" name="psw2"placehokder="Confirm Password" onkeypress="return noSpace(event)" required></input>
            <small class="form-text text-muted">Please Re-enter your new password.</small>
          </div>
        <button type="submit" class="btn btn-danger">Change Password!</button>
    </form>
    </div>

    <script>
        function noSpace(event) {
            var key = event ? event.which : window.event.keyCode;
            if (key == 32) return false;
        }
        var password = document.getElementById("pswd"), confirm_password = document.getElementById("psw2");
        function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            console.log()
        } else {
            confirm_password.setCustomValidity('');
        }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>