<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <title>Update Club</title>
  </head>
  <body>
     <div>
        <form method="POST" style="position: fixed; left: 0; top:0; padding: 10px;" action="/admin/" >
                 <button type="submit" class='btn btn-outline-info btn-sm'>HOME</button> 
            </form>
        </div>
 
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Update Club</h3>

    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form method="POST" enctype="multipart/form-data" action="/admin/club/update/<%=club._id%>">

        <div class="form-group">
          <label>Club Name</label>
          <input class="form-control" name="name" placeholder="Enter Club name here" value="<%=club.name%>" required>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" name="description" rows="3" placeholder="Provide Club description..."><%=club.description%></textarea>
        </div>

        <div class="form-group">
            <img src="/image/<%=club.logo_url%>" id="preview" class="rounded" alt=" No File Selected " height="100px" style="margin-bottom: .5rem;">
            <input type="file" name="logo" id="logo" accept='image/*' style="display:none;"/>
            <label for="logo" class="btn btn-secondary" style="height: 100px; max-width: 100px; padding-top:25px; ">Upload Logo</label>
        </div>
            
        <input type="submit" class="btn btn-primary" value="Update">

        </form>
        </div>
    </div>
    <script type="text/javascript">
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
        }
    
        $("#logo").change(function(){
            readURL(this);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>